


.contacts {

  &__info {
    @include page-grid;
  }

  &__forms {

    grid-column: 1/-1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 5;
    }


    &--text{
      color: #292929;

font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

    }



    &--input {

      &:-webkit-autofill {

     -webkit-text-fill-color: rgb(17, 142, 36);
        -webkit-box-shadow:  #009e32 inset;


      }
      box-sizing: border-box;
      padding-left: 16px;

      width: 100%;
      border-radius: 40px;
      height: 48px;
      margin-bottom: 16px;

      outline: none;
      resize: none;

    }

    &--area {

      box-sizing: border-box;
      padding-left: 16px;
      width: 100%;
      border-radius: 16px;
      height: 148px;

      outline: none;
      resize: none;
    }
  }

  &__content {
    margin: 0;
    grid-column: 1/-1;
    margin-top: 42px;

    @include on-tablet {
      margin: 0;
      grid-column: 4/6;
    }

    @include on-desktop {
      grid-column: 8/12;
    }
  }

  &__us {
    margin: 0;
margin-bottom: 8px;
    color: #fff;

    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
    &--gap{
      margin-top: 24px;
    }
  }

  &__address {

    text-decoration: none;
    margin: 0;
margin-top: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;


  }

  &__address:hover {
    text-decoration: underline;

    border-radius: 40px;
  }
}
