.header {
  background-image: url('../images/header-bg-mobile.png');
  background-size: cover;
  background-position: top right;


@include on-tablet{
  background-size: cover;
  background-position: center;
  background-attachment: fixed
}

@include on-desktop{
  background-position: cover;
  background-position: center;
  background-attachment: fixed;
}


  &__content {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom {
    padding-bottom: 40px;
  }

  &__title {
    text-wrap: nowrap;
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -1.5px;
    text-align: center;
    color: $text-fecoration-titlesH1;

  @include on-tablet{
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 90px;
  }

@include on-desktop{

font-size: 80px;

line-height: 80px;
letter-spacing: -1.5px;
text-align: center;
margin-bottom: 160px;

}}
}
